/*----------------------------------------------------------------------------------------
	PAGE ELEMENTS
----------------------------------------------------------------------------------------*/



/*****************************/
/* General */
/*****************************/

/* Reset CSS */
* {
	margin: 0px;
	padding: 0px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 100%;
	}



/*****************************/
/* Mise en page */
/*****************************/

/* Body */
body {
	background-color: #e7e7e7;
	background-image: url("../medias/review.jpg");
	background-size: cover;
	height: 80vh;
	}

section {
	text-align: center;
	background-color: #e7e7e7;
		height: 100vh;
}

li > p > input[type=text] {
	border: solid;
	border-color: #c4c4c4;
	border-width: 2px;
	border-radius: 15px;
	background-color: #d3d3d3;
	color: #737373;
	display: inline-block;
	margin: 0px 0px 10px 0px;
	font-size: 15px;
	padding:8px 15px 8px 15px;
	box-sizing:border-box;
	outline:none;
}

li > p > button[type=submit] {
	border: solid;
	border-color: #c4c4c4;
	border-width: 2px;
	border-radius: 15px;
	background-color: #d3d3d3;
	color: #737373;
	display: inline-block;
	margin: 15px 0px 0px 0px;
	font-size: 15px;
	padding:8px 15px 8px 15px;
	box-sizing:border-box;
	outline:none;
}

div > img{
	width: 45px;
	height: 45px;
}

.menu {
	width: 350px;
	display: inline-block;
	background-color: #e7e7e7;
	height: 100vh;
}

.menu > img {
	width: 300px;
	margin: 10px 25px 10px 25px;
}

.menu > div {
	margin: 100px 0px 0px 0px;
}

.showMenu {
	display: block;
}

li {
	list-style-type: none;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 25px;
	font-style: bolder;
	border-style: solid;
	border-color: black;
	border-width: 0px 0px 2px 0px;
	margin: 5px 25px 10px 25px;
	padding-bottom: 5px;
}

h2 {
	text-align: center;
	margin: 10px 0px 20px 0px;
	font-size: 15px;
}

h4 {
	text-align: center;
	margin: 25px 0px 20px 0px;
	font-size: 15px;
}

li > img {
	width: 40px;
	margin: 10px 125px 0px 125px;
}

.Logo > img {
	width: 350px;
	vertical-align: top;
}

.Logo {
	text-align: center;
	border: none;
	background-color: #e7e7e7;
	vertical-align: top;
	margin: 10px 0px 20px 0px;
}

.Form {
	display: none;
}

select {
	margin-left: 50px;
	width: 250px;
	text-align: center;
	border: solid;
	border-color: #c4c4c4;
	border-width: 0px 0px 2px 0px;
	background-color: #e7e7e7;
	color: #737373;
}

body > article {
	display: inline-block;
	text-align: center;
	background-color: #e7e7e7;
	width: 500px;
	margin: 0px 332px 0px 332px;
	box-shadow: 5px 5px 5px grey;
}

input[type=text]{
	border: solid;
	border-color: #c4c4c4;
	border-width: 2px;
	border-radius: 15px;
	background-color: #d3d3d3;
	color: #737373;
	margin: 0px 0px 10px 0px;
	font-size: 15px;
	padding:8px 15px 8px 15px;
	box-sizing:border-box;
	outline:none;
	display: none;
}

li > .doLogin {
	font-size: 15px;
	padding: 8px;
	margin-bottom: 10px;
	background-color: #cccccc;
	color: #737373;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: #c4c4c4;
	text-align: right;
}

p {
	padding: 20px 0px 10px 0px;
	display: inline-block;
}

input[type=image] {
	width: 50px;
	margin: 0px 15px 0px 15px;
}

button {
	font-size: 15px;
	padding: 4px;
	margin: 10px 0px 10px 0px;
	background-color: #cccccc;
	color: #737373;
	border-style: solid;
	border-width: 2px;
	border-color: #c4c4c4;
	text-align: center;
}

.hideComment {
	display: none;
}
